{% extends 'base.html.twig' %}

{% block title %}New Roteiro{% endblock %}

{% block body %}
    <h1>Create new Roteiro</h1>

    {{ include('roteiro/_form.html.twig') }}

    <a href="{{ path('app_roteiro_index') }}">back to list</a>
{% endblock %}
