{% extends 'base.html.twig' %}

{% block title %}Editar Atividade{% endblock %}

{% block body %}
    <h1>Editar Atividade</h1>

    {{ include('atividade/_form.html.twig') }}

    <a href="{{ path('atividade_index') }}">Voltar à lista</a>
{% endblock %}
